<div class="row">
    <div class="large-12 columns">
        <h2>Add Your Project</h2>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <form name="Edit Project Form">
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" id="InputName" placeholder="Project Name" ng-model="projects.name">
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <textarea id="textareaDescription" ng-model="projects.description" placeholder="Project Description"></textarea>
                </div>
            </div>

            <button type="submit" class="button btn-default" ng-click="save()">Save</button>

        </form>
    </div>
</div>

