<div class="row">
    <div class="medium-12 columns">
        <ul class="row">
            <div class="large-6 columns" ng-repeat="project in projects">
                <div class="panel radius">
                    <a href="#/projects/{{project._id}}"><h4>{{project.name}}</h4></a>
                    <p>{{project.description}}</p>
                </div>
            </div>
        </ul>
    </div>
</div>

