<div class="row">
    <div class="medium-12 columns">
        <div class="panel radius">
            <h4>{{projects.name}}</h4>
            <p>{{projects.description}}</p>
        </div>
    </div>
</div>
